<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FNEnableNotificationsKey</key>
	<true/>
	<key>FNBrowserPreferenceKey</key>
	<string>Safari</string>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>startatlaunch</key>
	<true/>
	<key>firstlaunch</key>
	<true/>
    <key>grayscaleIcon</key>
    <false/>
</dict>
</plist>
